:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-background: #303533;
  --primary-green: #30A46C;
  --secondary-green: #204835;
  --disabled-button: #71ca9f88;
  --warning-red: #FF7665;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark-background);
  color: white;
}

/* Home (Map) Page */
.homepage-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 32px 40px;
  min-height: 80vh;
}

.controls-container {
  background-color: var(--secondary-green);
  padding: 24px 32px;
  border-radius: 16px;
  width: 20%;
  color: #ffffff;
}

.controls-container.controls-container--unauthenticated {
  width: 47.5%;
}

.map-container {
  background-color: #555;
  border-radius: 16px;
  overflow: hidden;
  width: 75%;
  color: #ffffff;
}

/* Buttons */
.btn {
  border-radius: 24px;
  padding: 16px 32px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 16px;
}
.btn:hover {
  opacity: 0.8;
}

.primary-btn {
  background-color: var(--primary-green);
  border: 1px transparent;
}
.secondary-btn {
  background-color: var(--secondary-green);
  border: 1px var(--primary-green) solid;
}

.btn:disabled {
  background-color: var(--disabled-button);
  border: 1px transparent;
  cursor: not-allowed;
  color: #ffffff88;
}

.warning-message {
  color: var(--warning-red);
  font-size: 1rem;
  font-weight: 500;
  /* margin-bottom: 16px; */
}